name: Create Ansible ENV

on:
    workflow_dispatch:
        inputs:
            ubuntu_count:
                description: "Number of Ubuntu VMs (max 5)"
                required: true
                default: "1"
            centos_count:
                description: "Number of CentOS VMs (max 5)"
                required: true
                default: "1"
            node_name:
                description: "Proxmox node"
                required: true
                default: proxmox

jobs:
    create_env:
        runs-on: self-hosted

        defaults:
            run:
                working-directory: ./Terraform

        env:
            TF_IN_AUTOMATION: true
            TF_VAR_proxmox_api_url: ${{ secrets.PROXMOX_API_URL }}
            TF_VAR_proxmox_api_token: ${{ secrets.PROXMOX_API_TOKEN }}
            TF_VAR_node_name: ${{ github.event.inputs.node_name }}
            TF_VAR_proxmox_ssh_username: ${{ secrets.PROXMOX_SSH_USER }}
            TF_VAR_proxmox_ssh_private_key: ${{ secrets.PROXMOX_SSH_KEY }}
            TF_VAR_ubuntu_count: ${{ github.event.inputs.ubuntu_count }}
            TF_VAR_centos_count: ${{ github.event.inputs.centos_count }}

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Setup SSH key
              run: |
                  mkdir -p ~/.ssh
                  echo "${{ secrets.PROXMOX_SSH_KEY }}" > ~/.ssh/id_ed25519
                  chmod 600 ~/.ssh/id_ed25519
                  ssh-keygen -y -f ~/.ssh/id_ed25519 > ~/.ssh/id_ed25519.pub
                  ssh-keyscan -H ${{ secrets.PROXMOX_HOST }} >> ~/.ssh/known_hosts

            - name: Terraform init
              run: terraform init -upgrade -input=false

            - name: Terraform Apply
              run: |
                  terraform apply -auto-approve -input=false

            - name: Generate Inventory
              run: |
                  echo "[newvm]" > ../inventory.ini
                  terraform output -json ubuntu_vms | jq -r 'values[]' >> ../inventory.ini
                  terraform output -json centos_vms | jq -r 'values[]' >> ../inventory.ini
                  cat ../inventory.ini

            - name: Run Ansible Playbook
              env:
                  ANSIBLE_HOST_KEY_CHECKING: "False"
              run: |
                  sleep 30
                  ansible-playbook -i ../inventory.ini ansible/bootstrap.yml --private-key ~/.ssh/id_ed25519 -u anilankem

            - name: Done
              run: echo "Ansible ENV creation completed successfully"
