name: Destroy Ansible ENV

on:
  workflow_dispatch:
    inputs:
      node_name:
        description: "Proxmox node"
        required: true
        default: proxmox

jobs:
  destroy_env:
    runs-on: self-hosted

    steps:
      - name: Download State
        uses: actions/download-artifact@v4
        with:
          name: tfstate
          path: Terraform

      - name: Terraform Init
        run: terraform init -upgrade -input=false

      - name: Destroy Ansible ENV VMs
        run: terraform destroy -auto-approve -input=false
