name: Destroy Ansible ENV

on:
  workflow_dispatch:
    inputs:
      node_name:
        description: "Proxmox node"
        required: true
        default: proxmox

jobs:
  destroy_env:
    runs-on: self-hosted

    defaults:
      run:
        working-directory: ./Terraform

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Create State Directory
        run: mkdir -p /home/ansible/terraform_state/ansible-env

      - name: Terraform Init
        run: terraform init -upgrade -input=false

      - name: Destroy Ansible ENV VMs
        run: terraform destroy -auto-approve -input=false
